body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}






